.top-nav-button {
margin-top:3px;margin-right:3px;
}

.top-nav-anchor {
margin-top:10px;margin-right:10px;
}

.form-link {
margin-left:20px;
}

.search-button {
margin-top:2px;
}

.hide-this {
display:none !important;
}

.info-section {
color:#3c8dbc;
}

.img-responsive {
width:100%;
}